
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.secondary-bg{
    background-color:#FFF8F3 ;
}
.header{
    background-image:url('../images/developer.png');
    background-position: top left;
    background-repeat:no-repeat;
}
h3{
    font-size:60px;
}
nav{
    display:flex;
    align-items: center;
    margin:10px 50px;
    justify-content:space-between;
}
.space{
    margin-left:20px;
}
span{
    color:#FD6E0A;
}
.dark-2{
    color:#474747;
}
.nav-tittle{
    font-weight:800;
    font-size:45;
}
nav ul{
    display:flex;
    align-items:center;
   

}
a:hover {
  background-color:burlywood;
  font-size: 18px;
}
nav ul li{
    list-style:none;
    margin:50px;
}
nav ul a{
    text-decoration:none;
     font-weight:20px;
}
.btn-primary{
    background-color:#FD6E0A ;
    color:white;
    border-radius:5px;
    font-weight:bold;
    font-size: 20px;
    padding:15px 20px;
    border:none;
   
}
.heading{
    font-weight:600px;
    font-size: 45px;
}
.heading-naem{
    font-weight:bold;
    font-size:85px;
}
.about{
    font-size:18px;
}
.banner{
    display:flex;
    justify-content: space-between;
    margin:0px 38px 0px 150px;
}
.banner img{
    width:676px;
    height:576px;
}

   main section{
    max-width: 1140px;
    margin: 0 auto;
}
.about-itemes{
    text-align:center;
    padding:130px 130px;
}
.h2-items{
    font-weight:bold;
    font-size:35px;
    color:#181818;
}
.p-items{
    font-size:18px;
    color:#757575;
}
.about-items{
    display:flex;
    justify-content:space-around;
    text-align:center;
}
.item-tittle{
    
    font-size:20px;
    color:#757575;
}
.item-description{
    font-size:20px;
    font-weight:bold;
    color:#474747;
}
.about-sec{
    margin:130px 130px;
}
.skills-items{
    display:flex;
   gap:10px;
}
.center{
    text-align:center;
}
.skill{
    padding:104px 33px 33px 33px;
      box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
     border-radius:5px;
}
.skill:hover{
    border:2px solid blue;
}
.skill-document:hover{
  border:3px solid blue;  
}
.skill-document{
    font-size: 16px;
    color:#757575;
}
.img-cls:hover{
    border:3px solid blue;
}
.resume{
    display:flex;
    gap:15px;
}
hr{
    color:#D1D1D1;
}
.res{
    margin-top:70px;
}
.experience-sub-title{
  font-size:16px;
  color:#757575;
}
.experience-description{
    font-size:16px;
  color:#757575;
}
.experience-title{
    font-weight:bold;
    font-size:26px;
    color:#474747;
}
.resume-column-title{
     font-weight:bold;
    font-size:30px;
    color:#474747;
}
.mid{
    font-weight:bold;
    font-size:35px;
    color:#181818;
}
.experience:hover{
    border:2px solid blue;
}
.db{
     margin-top:20px;
}
.sec-items{
    display:flex;
    margin:130px 230px;
    gap:100px;
}
.footer-header{
    font-weight:bold;
    font-size:35px;
    color:#181818;
}
.sec-div{
    width:562px;
}
.footer-p{
    font-size:16px;
    color:#474747;
}
footer{
    margin-top:130px;
}
/* .input-details{
    height:64px;
    width:461px;
    background-color:white;
    border:none;
    display:block;
    padding:10px 20px;
    border-radius:5px;
}
.text-items{
  width:461px;
  height:181px; 
  background-color:white;
  border:none; 
  display:block;
  padding:10px 20px;
  border-radius:5px;
}
.form-items{
  
} */
 footer input[type="text"],  footer input[type="email"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
footer textarea{
     height: 150px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
footer button{
    margin-bottom:130px;
}